<div class="col-12 border-pro-box mt-3">
  <div class="table-col table-responsive">
    <cdk-virtual-scroll-viewport
      itemSize="50"
      minBufferPx="200"
      maxBufferPx="400"
    >
      <table class="table table-bordered table-striped m-0 custom-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Phone</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *cdkVirtualFor="let userData of employees">
            <td>{{ userData.ID }}</td>
            <td>{{ userData.First_Name }}</td>
            <td>{{ userData.Last_Name }}</td>
            <td>{{ userData.Email }}</td>
            <td>{{ userData.Gender }}</td>
            <td>{{ userData.DOB }}</td>
            <td>{{ userData.Phone_No }}</td>
            <td>{{ userData.Address }}</td>
          </tr>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
