/* You can add global styles to this file, and also import other style files */

#chartdiv1 {
  height: 700px !important;
  width: 100% !important;
  margin-top: 10px;
}
.custom-table th {
  padding: 0.65rem;
  letter-spacing: 1px;
  text-align: center;
}

.custom-table td {
  padding: 0.65rem;
  letter-spacing: 1px;
  text-align: center;
}
